{% extends "base.html" %}
{% block content %}
<meta http-equiv="refresh" content="600">
<style>
@media(min-width: 1001px) {

}

@media(max-width: 1000px) {
    #weather_table tr > *:nth-child(5) {
            display: none;
            background-color: black;
    }
    #weather_table {
        width: 100%;
        font-size: 2rem;
    }
    .title-bar {
        font-size: 1.5rem;
    }
}
#weather_table td {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 2px;
}


.main_div_style {
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin: 5px;
}

</style>
<div>
    <div class="main_div_style title-bar">
        {{ location.relative_location.city }}, {{ location.relative_location.state }} | Updated at {{ datetime.now().strftime("%A, %B %d at %I:%M%p") }}

    </div>
    <div class="main_div_style">
        <table id="weather_table">
            <tr>
                <th></th>
                <th>Temperature</th>
                <th>Precipitation</th>
                <th>Wind</th>
                <th></th>
            </tr>
            {% for period in location.gridpoint_forecast.periods %}
            <tr>
                <td>
                {{ period.name }}
                </td>
                <td>
                    {{ period.temperature }} {{ period.temperature_unit }} {% if period.temperature_trend %} {{ period.temperature_trend }} {% endif %}
                </td>
                <td>
                    {% if period.probability_of_precipitation.value %}
                    {{ period.probability_of_precipitation.value }}%
                    {% else %}
                    0%
                    {% endif %}
                </td>
                <td>
                    {{ period.wind_speed }}
                </td>
                <td>
                    {{ period.detailed_forecast }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}
