{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
          integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
               crossorigin=""></script>
<style>
@media (max-width: 1000px) {

    #map {
        width: 100%;
        height: 600px;
    }
    #base {
        flex-direction: column;
    }
    .history-location-button {
        width:100%;
        height: 3vh;
    }
}

@media (min-width: 1001px) {
    #map {
        width: 1000px;
        height: 600px;
    }
    #base {
        flex-direction: row;
    }
    .big-wide-button {
        height: 100%;
    }

}
#base {
    display: flex;
}

.generic-button {
    text-decoration: none;
    cursor: pointer;
    color: black;
    background-color: darkgrey;
    border-radius: 10px;
}

.big-wide-button {
    width: 100%;
    padding 50px;
    height: 80px;
}

#history-list {
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
}

.history-location-button {
    padding: 10px;
}
</style>

<div id="base">
    <div id="map"></div>

    <form action="/display" method="GET">
        <input type="hidden" id="lat" name="lat" required />
        <input type="hidden" id="lng" name="lng" required />
        <button type="submit" class="big-wide-button generic-button">get weather from location</button>
    </form>

    <div id="history-list">
        <div>
            Previous Searched
        </div>
    {% for location in location_history %}
    <form action="/display" method="GET">
            <input type="hidden" id="lat" name="lat" required value="{{location.latitude}}"/>
            <input type="hidden" id="lng" name="lng" required value="{{location.longitude}}"/>
            <button type="submit" class="history-location-button generic-button">{{location._name}}</button>
    </form>
    {% endfor %}
    </div>
</div>
<script>
    // Initialize the Leaflet map
    var map = L.map('map').setView([37.778, -122.418], 13);  // Default position (London)

    // Set up the tile layer for the map
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Variable to hold the selected marker
    var marker;

    // Event listener for map click to place a marker
    map.on('click', function(e) {
            var lat = e.latlng.lat;
            var lng = e.latlng.lng;

            // Remove any existing marker
            if (marker) {
                        map.removeLayer(marker);
                    }

            // Place a new marker at the clicked position
            marker = L.marker([lat, lng]).addTo(map);

            // Set the hidden input fields in the form to the coordinates
            document.getElementById('lat').value = lat;
            document.getElementById('lng').value = lng;
    });
</script>


{% endblock %}
